@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .nav-bar {
    background-color: #1f1f1f;
    border-color: #444444;
}

body.dark-mode .hero-container {
    background-color: #1f1f1f;

}
body.dark-mode .countries-container  {
    background-color: #1f1f1f;
    color: white;
}
body.dark-mode .card-container {
    background-color: #444444;
}

body.dark-mode input,
body.dark-mode select {
    background-color: #444444;

}

body.dark-mode button {
    background-color: #444444;
    color: #ffffff;
}


#loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}